<form class="example-form" *ngIf="driverForm" [formGroup]="driverForm" (ngSubmit)="saveDriver()">
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name" name="firstName"  formControlName="firstName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name" name="lastName" formControlName="lastName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Driving License</mat-label>
    <input matInput placeholder="Driving License" name="drivingLicense" formControlName="drivingLicense">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Vehicle</mat-label>
    <mat-select name="vehicle" formControlName="vehicle" [compareWith]="compareFn">
      <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">
        {{vehicle.brand}}: {{vehicle.registrationNumber}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <section>
    <div>
      <img [src]="imgSrc" width="350px" height="250px" (click)="fileUploader.click()">
    </div>
    <div>
      <input type="file" accept="image/*" formControlName="photo" (change)="showPreview($event)" #fileUploader>
    </div>
  </section>

  <div class="button-row">
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>

</form>
