.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cardList > * {
  box-sizing: border-box;
}

.cardList > *:not(:last-child) {
  margin-right: 32px;
}

.btn{
  margin: 5px;
}
