<form class="example-form">

  <mat-form-field fxFlex floatLabel="auto"  class="example-full-width">
    <mat-label>Registration Number</mat-label>
    <input matInput placeholder="Registration Number">
  </mat-form-field>

  <mat-form-field fxFlex floatLabel="auto"  class="example-full-width">
    <mat-label>Brand</mat-label>
    <input matInput placeholder="Brand">
  </mat-form-field>

  <mat-form-field fxFlex floatLabel="auto"  class="example-full-width">
    <mat-label>Current Km</mat-label>
    <input matInput placeholder="Current Km">
  </mat-form-field>


  <div class="button-row">
    <button mat-flat-button color="primary">Save</button>
  </div>
</form>
