<form (ngSubmit)="onSave(form)" #form="ngForm">

  <mat-form-field fxFlex floatLabel="auto"  class="example-full-width">
    <mat-label>Registration Number</mat-label>
    <input matInput placeholder="Registration Number" name="registrationNumber" ngModel required>
  </mat-form-field>

  <mat-form-field fxFlex floatLabel="auto"  class="example-full-width">
    <mat-label>Brand</mat-label>
    <input matInput placeholder="Brand" name="brand" ngModel required>
  </mat-form-field>

  <mat-form-field fxFlex floatLabel="auto"  class="example-full-width">
    <mat-label>Current Km</mat-label>
    <input matInput placeholder="Current Km" name="currentKm" ngModel required type="number">
  </mat-form-field>


  <div class="button-row">
    <button mat-flat-button color="primary" [disabled]="!form.valid" >{{ editMode? 'Update': 'Add' }}</button>
    <button mat-flat-button color="accent" type="button"  (click)="form.reset();">Clear</button>
  </div>
</form>
